
<%# File Created on 2/28/20 by Daniel Lim: create the footer for all pages %>

<footer id = "footer">
	<!-- Display the school and group that designed the website -->
	<div class="footer_cols footer_school_name">
		The Ohio State University
    </div>
    <div class="footer_cols" >
    	Designed by Groovy Ruby
    </div>
    <div class="footer_name">
    	James W. Davis
    </div>
</footer>
