<%# File Created on 2/25/20 by Daniel Lim: to create the nav bar %>
<%# File Edited on 2/28/20 by Jas Bawa: to fix the CSS inclusion with the layout file and added some links for navigation %>
<%# File Edited on 2/28/20 by Daniel Lim: added more links for navigation %>

<header>	
	<div class="top">
		<!-- Go to the page clicked by the user  -->
	    <nav >
	    	<ul>
	    		<li class="home">
	        		<a href="index.html">Home</a>
	        	</li>
	        	<!-- <i class="fas fa-home"></i> -->
	        	<li class="name">
	        		James W. Davis
	        	</li>
	        	<li class="next_page">
	        		<a href="Publications.html">Publication</a>
	        	</li>
	        	<li class="next_page">
	        		<a href="teaching.html">Teaching</a>
	        	</li>
	        	<li class="next_page">
	        		<a href="People.html">People</a>
	        	</li>
	        	<li class="next_page">
	        		<a href="Awards&Media.html">Awards and Media</a>
	        	</li>
	    	</ul>
		</nav>
	</div>	
</header>
