
<%# File Created on 2/25/20 by Daniel Lim: add all the html of the front page %>

<div class="front">
	<img SRC="images/Davis-3-small.jpg" BORDER="1" ALT="Jim Davis">
	<div>
		<!-- create a table to display the contact info and location -->
		<table class="contact">
			<tr>
				<td >
					<font class="contact_name"><B>Jim Davis</B></font> 
					&nbsp;
					<font >Ph.D. MIT, 2000
						<br>
						<a HREF="http://www.cse.ohio-state.edu">Dept. of Computer Science and Engineering</A>
						<br>
						491 Dreese Laboratories, 2015 Neil Avenue
						<br>
						<a HREF="http://www.osu.edu">Ohio State University</a>
						<br>
						Columbus, OH 43210
						<br>
						http://www.cse.ohio-state.edu/~jwdavis
						<br>
						[<a href="directions.html">Directions</a>]
					</font>
				</td>
			</tr>
		</table>
		<table class="contact">
			<tr>
				<td>
					<font class="contact_title"><B>Contact</B></font> 
						<br>
						Office: 614-292-1553 (Lab: 614-292-5137)
						<br>
						Fax: 614-292-2911
						<br>
						jwdavis@cse.ohio-state.edu
						<br>
					</font>
				</td>
			</tr>
		</table>
	</div>
</div>

<br>

<!-- create a section to display the introduction, appointment and education -->
<section>
	<div class="introduction">
		<h2>
			Introduction
		</h2>
		<p>
				Jim Davis is a Full Professor in the Dept. of Computer Science and Engineering. He received his Ph.D. from the Massachusetts Institute of Technology. <b>RESEARCH </b>: His main research areas include Computer Vision, Artificial Intelligence, and Machine Learning with a focus on image/video analysis and automated surveillance. He has received over $3M in research funding (to date) from the National Science Foundation (including a prestigious CAREER award), U.S. Air Force, Los Alamos National Lab, U.S. Army Night Vision Laboratory, Intel, and Ohio Board of Regents. <b>TEACHING </b>: Prof. Davis offers classes in Computer Vision (CSE 5524) and Artificial Intelligence (CSE 5052) at Ohio State University. The Artificial Intelligence course was specifically designed to fill a need and outreach to the large body of non-CSE students interested in the topic. <b> SERVICE </b>: In addition to his Full Professor duties and service in the professional societies, he also serves in the CSE Dept. as the Coordinator for Undergraduate Research, the Chair of the Computer and Space Committee, and a Member of the Executive Committee.
		</p>
	</div>
	<div class="appointment">
		<h2>
			Appointments
		</h2>
		<ul>
		  	<li>Present: Full Professor, Dept. of Computer Science and Engineering, OSU </li>
		  	<li>Present: Coordinator, Undergraduate Research (CSE), OSU<a href= "https://cse.osu.edu/current-students/undergraduate-research">[website]</a> </li>
		 	<li>Present: Chair, Computer and Space Committee (CSE), OSU </li>
		 	<li>Present: Member, Executive Committee (CSE), OSU </li>
		  	<li>2005 - 2013: Associate Professor, Dept. of Computer Science and Engineering, OSU </li>
		  	<li>2000 - 2005: Assistant Professor, Dept. of Computer Science and Engineering, OSU </li>
		</ul> 
	</div>
	<div class="education">
		<h2>
			Education
		</h2>
		<ul>
		  	<li>Massachusetts Institute of Technology, Ph.D., 2000 </li>
		  	<li>Massachusetts Institute of Technology, M.S., 1996 </li>
		  	<li>University of Central Florida, B.S., 1994 </li>
		  	<li>Eastern Florida State College (BCC), A.A., 1992 </li>
		</ul> 
	</div>
</section>
